In [1]:
import os 
import sys
cwd = os.getcwd()
sys.path.append(cwd)
import test_data_util

thres = 0.5
test = test_data_util.TestClass()
test.test_generate_bin_mask()
test.test_create_filtered_cooler(thres)

os.remove(['test_data_util.cool', f'test_data_util_{thres}filtered.cool'])

/home1/yxiao977/.conda/envs/akita/lib/python3.9/site-packages/cooltools/lib/numutils.py:652: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def iterative_correction_symmetric(
/home1/yxiao977/.conda/envs/akita/lib/python3.9/site-packages/cooltools/lib/numutils.py:727: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def iterative_correction_asymmetric(x, max_iter=1000, tol=1e-5, verbose=False):
/home1/yxiao977/.conda/envs/akita/lib/python3.9/site-packages/cooler/balance.py:112: RuntimeWarning: Mean of empty slice.
  scale = nzmarg.mean()
/home1/yxiao977/.conda/envs/akita/lib/python3.9/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
2023-10-15 22:19:40,475 - test_data_util - INFO :

######### generate_bin_mask Pass the test #########
/home1/yxiao977/.conda/envs/akita/lib/python3.9/site-packages/cooler/core/_tableops.py:120: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  elif is_categorical_dtype(data):
/home1/yxiao977/labwork/Akita_dinoflagellate/test_data_util.py:84: RuntimeWarning: invalid value encountered in true_divide
  cis_total_cov_filtered = coverage_filtered[0] / coverage_filtered[1]
2023-10-15 22:19:40,563 - test_data_util - INFO :

######### create_filtered_cooler Pass the test #########

In [ ]:
import cooler 
t = cooler.Cooler("./test_data_util.cool")

In [3]:
t.pixels()[:]

   bin1_id  bin2_id  count
0        0        0      6
1        1        2      3
2        1        3     35
3        2        2      3
4        2        3     30
5        3        3      5

  chrom  start  end  weight
0  chr1      0    5     NaN
1  chr1      5    8     NaN
2  chrX      0    5     NaN
3  chrX      5   10     NaN

In [7]:
import cooltools
coverage = cooltools.coverage(t, ignore_diags=1)

In [8]:
coverage

array([[ 0,  0, 30, 30],
       [ 0, 38, 33, 65]])

In [3]:
assert 1 == 2

AssertionError: